<html>
<head>
    <title>Places You Have Been</title>
</head>
<body>
        <h1>You added a car!</h1>
        <p><img src= {{ newcar.getPicture }}></p>
        <p>{{ newcar.getModel }}</p>
        <p>{{ newcar.getPrice }}</p>
        <p>{{ newcar.getMiles }}</p>

        <p><a href='/'>View your cars.</a></p>
</body>
</html>
