<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
     <title>Find a Car</title>
  </head>
  <body>
    <h1>Car Dealership</h1>
     {% for car in cars %}
        <div class='row'>
        <div class='col-md-6'>
            <img src={{ car.getPicture }}>
        </div>
            <div class='col-md-6'>
                <p>{{ car.getModel }}</p>
                <p>{{ car.getPrice }}</p>
                <p>{{ car.getMiles }}</p>
            </div>
        </div>
      {% endfor %}
  </body>
</html>
